<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<b>{{error}}</b>
	<form method="post" action="{% url 'restaurant_auth:login' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Username">
		<label for="password">Password:</label>
		<input type="password" name="password" placeholder="Password">
		<input type="submit" name="" value="Login">
	</form>
	or register if you do not have an account: <a href="{% url 'restaurant_auth:signup' %}">Signup</a>
</body>
</html>